<div class="titulo">
    <h2>Formulário de Cadastro do Memorial</h2>
    <p>Aqui você pode digitar os dados para ser criado o memorial do seu ente querido.</p>
</div>

<!--CAMPOS DE CADASTRO-->
<div class="pre-container">
    <div class="container">
        <span class="alerta" style="font-size: 17px;">*Obrigatório</span>
    </div>

    <div class="container">
        <form action="/insercao-concluida" method="post">

            <div class="alerta-campo-vazio" style="display: {{aviso}};">
                <h3>Erro ao enviar!</h3>
                <p>Os campos com asterisco devem ser preenchidos.</p>
                {{!-- <h3>KKKKKKKKKKKKKK sabidão!</h3>
                <p>Apertar F12 não vai funcionar :)</p> --}}
            </div>

            <!--NOME-->
            <label for="nome">Nome do Falecido<spam class="alerta">*</spam></label>
            <input type="text" id="nome" name="nome" class="input" placeholder="Digite aqui o nome.." required>

            <!--IMAGEM-->
            <label for="imagem-falecido">Link da imagem do Falecido<spam class="alerta">*</spam></label><br>
            <!--<input type="file" id="imagemFalecido" name="imagemFalecido"><br>-->
            <input type="text" id="imagemFalecido" name="imagemFalecido" class="input"
                placeholder="Digite aqui o link da imagem.." required>

            <!--LOCAL DE NASCIMENTO-->
            <label for="local-nasc">Local de Nascimento<spam class="alerta">*</spam></label>
            <input type="text" id="localNasc" name="localNasc" class="input"
                placeholder="Digite aqui o local do nascimento.." required>

            <!--DATA DE NASCIMENTO-->
            <label for="data-nasc">Data de Nascimento<spam class="alerta">*</spam></label><br>
            <input type="date" id="dataNasc" class="data input" name="dataNasc" required><br>

            <!--LOCAL DE FALECIMENTO-->
            <label for="local-fale">Local de Falecimento<spam class="alerta">*</spam></label>
            <input type="text" id="localFale" name="localFale" class="input"
                placeholder="Digite aqui o local do falecimento.." required>

            <!--DATA DE FALECIMENTO-->
            <label for="data-fale">Data de Falecimento<spam class="alerta">*</spam></label><br>
            <input type="date" id="dataFale" class="data input" name="dataFale" required><br>

            <!--BREVE MENSAGEM-->
            <label for="mensagem">Breve Mensagem</label>
            <textarea id="subject" name="mensagem" class="input"
                placeholder="Digite aqui uma breve mensagem sobre o falecido.." style="height:200px"></textarea>

            <!--BIOGRAFIA-->
            <label for="biografia">Biografia</label>
            <textarea id="subject" name="biografia" class="input" placeholder="Digite aqui a biografia do falecido.."
                style="height:200px"></textarea>

            <!--VIDEO-->
            <label for="video-de-homenagem">Link do Video de Homenagem</label>
            <input type="url" id="videoDeHomenagem" name="videoDeHomenagem" class="input"
                placeholder="Digite aqui o link do video de homenagem do falecido..">

            <!--ENVIAR-->
            <input type="submit" value="Enviar Memorial">
        </form>
    </div>
</div>