<div class="titulo">
    <h2>Cápsula + Página do Memorial</h2>
    <p>Aqui você pode deve inserir os detalhes para fazer o pedido do pacote.</p>
</div>

<div class="pre-container">
    <div class="container">
        <img class="imagem-produto" src="memorial.png" width="200">
        <h1 class="imagem-produto">+</h1>
        <img class="imagem-produto" src="capsula-criogenica2.png" width="240">

        <h3>Cápsula Criogênica e Pagina do Memorial: <br><span class="preco">R$ 19.999,00</span></h3>
        <p>
            Capsula modelo <span>2077</span>, junto com o serviço de
            <span>criogenação</span> imediato.
        </p>

        <br><br><br><br>

        <div class="alerta-campo-vazio" style="display: {{aviso}};">
            <h3>Erro ao enviar!</h3>
            <p>Os campos abaixo devem ser preenchidos.</p>
        </div>

        <!-- DETALHES DO COMPRADOR -->
        <form action="/pedido-concluido" method="post">

            <!-- NOME DO COMPRADOR -->
            <label for="nome">Nome do Comprador</label>
            <input type="text" id="nome" name="nome_comprador" class="input" placeholder="Digite aqui o nome..">

            <!-- CAMPO INVISIVEL -->
            <input type="text" id="item_pedido" name="item_pedido" class="input" value="pacote de cápsula"
                style="display:none;">

            <!-- NUMERO DE TELEFONE -->
            <label for="nome">Número de Telefone</label>
            <input type="tel" id="telefone_comprador" name="telefone_comprador" class="input"
                placeholder="(12) 1234-5678">

            <!-- Email -->
            <label for="nome">Email</label>
            <input type="text" id="email_comprador" name="email_comprador" class="input"
                placeholder="Digite aqui o email..">

            <!--FAZER PEDIDO-->
            <input type="submit" value="Solicitar">
        </form>

    </div>
</div>