<div class="titulo">
      <h2>Pacotes Disponíveis</h2>
      <p>Aqui você pode escolher um pacote de objetos para comprar.</p>
    </div>

    <div class="pre-container">
      <div class="container">
        <h2>Pacote de Caixão</h2>
        <h3>Caixão com QR + Memorial: <span>R$ 3999</span></h3>
        <p>
          Caixão modelo <span>luxo</span>, incluindo <span>necromaquiagem</span> e <span>castiçais</span> para velas.
        </p>
        <!-- <a class="botao" href="/">Comprar</a> -->
        <input type="button" class="botao" onclick="location.href='/pacote-caixao';" value="Comprar"/>

      </div>
      <div class="container">
        <h2>Pacote de Urna</h2>
        <h3>Urna com QR + Memorial: <span>R$ 5999</span></h3>
        <p>
          Urna modelo <span>luxo</span>, junto com o serviço de
          <span>cremação</span> incluso.
        </p>
        <!-- <a class="botao" href="/">Comprar</a> -->
        <input type="button" class="botao" onclick="location.href='/pacote-urna';" value="Comprar"/>

      </div>
      <div class="container">
        <h2>Pacote de Capsulas criogênicas</h2>
        <h3>Cápsula com QR + Memorial: <span>R$ 19999</span></h3>
        <p>
          Capsula modelo <span>2077</span>, junto com o serviço de
          <span>criogenação</span> imediato.
        </p>
        <!-- <a class="botao" href="/">Comprar</a> -->
        <input type="button" class="botao" onclick="location.href='/pacote-capsula';" value="Comprar"/>
      </div>
    </div>