<html>

<head>
    <link rel="stylesheet" type="text/css" href="/style_pagina_inicial.css">
    <link rel="stylesheet" type="text/css" href="/slick.css" />
    <title>Primeiro Projeto</title>
</head>

<body>
   

    <div class="col-100">
        <div class="content texto-destaque">
            <h1>Bem Vindo(a) a nossa pagina inicial da funetech</h1>
            <p>Se você está aqui desejamos nossos humildes pêsames, aqui temos alguns produtos que possam ser do seu interesse </p>
            </div>
        </div>
    </div>
    <div class="col-100 bloco-imagens-texto">
        <div class="content" style="margin-left: 24%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/capsula-criogenica2.png">
                <p><b>Capsulas criogenicas</b></p>
                <p>Aqui pode se observar alguns de nossos clientes em umas das nossas salas de criogenizaçao
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/cremacao.jpg">
                <p><b>Serviço de cremagem</b></p>
                <p>Aqui pode se observar nossa camara de cremagem que acompanha uma bela urna como é mostrado ao lado
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/urna.png">
                <p><b>Urna</b></p>
                <p>Aqui temos um dos nossos modelos de Urnas
                </p>
            </div>
        </div>
        <div class="content" style="margin-left: 24%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/necromaquiagem2.jpeg">
                <p><b>Necromaquiagem</b></p>
                <p>Aqui temos um dos melhores serviços de necromaquiagem do mercado seu ente querido será realmente tratado por anjos pela nossa melhor equipe
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/caixa-velas.png">
                <p><b>Caixas de velas</b></p>
                <p>Caso você tenha vontade de acender uma vela para o seu ente querido temos um conjunto de velas a venda
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/imagem3.png">
                <p><b>Lorem Ipsum is simply</b></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting of the
                    industry. Lorem
                    Ipsum has been
                    the and scrambled it.
                    atype specimen
                </p>
            </div>
        </div>
    </div>
   
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/jquery-migrate.js"></script>
    <script type="text/javascript" src="/slick.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>