<html>

<head>
    <link rel="stylesheet" type="text/css" href="/style_pagina_inicial.css">
    <link rel="stylesheet" type="text/css" href="/slick.css" />
    <title>Primeiro Projeto</title>
</head>

<body>
   

    <div class="col-100">
        <div class="content texto-destaque">
            <h1>Bem Vindo(a) a nossa pagina inicial da funetech</h1>
            <p>Se você está aqui desejamos nossos humildes pêsames e esperamos que você encontre oque procura em nossos serviços</p>
            </div>
        </div>
    </div>
    <div class="col-100 bloco-imagens-texto">
        <div class="content" style="margin-left: 24%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/capsula-criogenica2.png">
                <p><b>Capsulas criogenicas</b></p>
                <p>Aqui pode se observar alguns de nossos clientes em umas das nossas salas de criogenizaçao
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/cremacao.jpg">
                <p><b>Serviço de cremagem</b></p>
                <p>Aqui pode se observar nossa camara de cremagem que acompanha uma bela urna como é mostrado ao lado
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/urna.png">
                <p><b>Urna</b></p>
                <p>Aqui temos um dos nossos modelos de Urnas
                </p>
            </div>
        </div>
        <div class="content" style="margin-left: 24%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/necromaquiagem2.jpeg">
                <p><b>Necromaquiagem</b></p>
                <p>Aqui temos um dos melhores serviços de necromaquiagem do mercado seu ente querido será realmente tratado por anjos pela nossa melhor equipe
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/caixa-velas.png">
                <p><b>Caixas de velas</b></p>
                <p>Caso você tenha vontade de acender uma vela para o seu ente querido temos um conjunto de velas a venda
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="/imagem3.png">
                <p><b>Lorem Ipsum is simply</b></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting of the
                    industry. Lorem
                    Ipsum has been
                    the and scrambled it.
                    atype specimen
                </p>
            </div>
        </div>
    </div>
    <div class="col-100 bloco-logos">
        <div class="content">
            <div class="col-4">
                <img alt="logo" title="logo" src="/logo1.png" />
            </div>
            <div class="col-4">
                <img alt="logo" title="logo" src="/logo2.png" />
            </div>
            <div class="col-4">
                <br />
                <img alt="logo" title="logo" src="/logo3.png" />
            </div>
            <div class="col-4">
                <img alt="Puma" title="Puma" src="/logo4.png" />
            </div>
        </div>
    </div>
    <footer>
        <div class="col-100 footer">
            <div class="content">
                <div class="col-4">
                    <h3><b>Populr Post</b></h3>
                    <p>Lorem Ipsum is simply dummy
                        text of the printing.</p>
                    <p class="clock">25-September 2013<p>
                            <p>Lorem Ipsum is simply dummy
                                text of the printing.</p>
                            <p class="clock">25-September 2013<p>
                </div>
                <div class="col-4">
                    <h3><b>Tags</b></h3>
                    <p>apps blog blogroll christmas cms coda concert daily design develop dialog drinks envato food fun
                        gallery gift holiday icon illustration ipad iphone journal jquery label link marketing mobile
                        motion music photo profession quotation recipes show sound strategy tv typography video</p>
                </div>
                <div class="col-4">
                    <h3><b>A little about us</b></h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.
                    </p>
                </div>
                <div class="col-4">
                    <h3><b>Get in touch</b></h3>
                    <p>
                        Lorem Ipsum is simply dummy
                        of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since.
                    </p>
                    <p class="local">Texas, US<p>
                            <p class="emailico">email@email.com<p>
                                    <p class="telefoneico">890-09880-45590<p>
                </div>
            </div>
        </div>
    </footer>
    <div class="col-100 footer-2">
        <div class="content">

            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            </p>
        </div>
    </div>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/jquery-migrate.js"></script>
    <script type="text/javascript" src="/slick.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>