*{
    flex-wrap: wrap;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  }

  .col-100 {
      width: 100%;
      float: left;
      position: auto;
      text-align: center;
  }
 
  .content{
      image-rendering:252.2px  160.33px ;
  }
  
  .texto-destaque p{
      text-align: center;
  }
  .texto-destaque strong {
      color: #646464;
  }
  .texto-destaque h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      color: #818181;
  }
  .texto-destaque p {
  
      font-size: 15px;
      color: #9a9a9a;
  }
  
  .col-3 {
      text-align: center;
      padding-left: 15px;
      padding-right: 15px; 
      width: 29%;
      float: left;
      position: relative;
  }
  .bloco-imagem img {
      margin: 0 auto;
      width: 100%;
      height: auto;
  }
  .bloco-imagem {
      height: 350px;
      border: 1px solid #c5c5c5;
      display: inline-block;
      padding-top: relative;
      padding-bottom: relative;
      margin-left: relative;
  }
  .bloco-imagem b, p {
      text-align: left;
  }
  .bloco-texto {
      margin-top: 3em;
      display:relative;
  }
  
  h3 {
      font-weight: normal!important;
  }
  
  .bloco-imagens-texto {
      display:inline;
      background-color: #eeeeee;
  }
  .bloco-imagens-texto:before {
      width: 100%;
      display: inline-block;
      content: '';
      height: 52px;
      background: #ffffff;
      background-image: url('../img/setinha.png');
      background-repeat: no-repeat;
      background-position: center;
  }
  .bloco-imagens-texto:after {
      width: 100%;
      display: inline-block;
      content: '';
      height: 70px;
      background: #eeeeee;
  } 
  .col-4 {
      float: left;
      width: 25%;
      text-align: center;
  }

  .col-4 img {
  cursor: pointer;
   margin: 0 auto;
   padding-top: 1em;
   vertical-align: middle;
  }

  .col-4 img:hover {
      margin-top: 10px!important;
      position:relative!important;
  }
  
  .bloco-logos {
      height: 170px;
  }
  
  .bloco-logos img {
      margin-top: 50px;
  }
p{
    display:auto;
}
 