* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

/* PARA BARRA DE NAVEGAÇÃO */
.menu-principal{
    width: 100.0%;
    background-color: #252323;
    height: 60px;
}

.logo{
    float: left;
    padding: -16px;
    width: 70%;
}

.logo-do-site{
    width: 200px;
    margin-left: 0px;
}
/*-------------------------*/

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

span {
    color: #00b637;
}

/* FAZER COM Q O "container" NAO SE EXPANDA HORIZONTALMENTE ACIMA DE 1050px */
@media screen and (min-width: 1050px) {
    .container{
        width: 970px;
    }

    .pre-container{
        display: grid;
        justify-content: center;
    }
    
}

input[type=text], input[type=tel], select, textarea, input[type=url], .campo-login {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit], button, .botao {
    background-color: #00b637;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* text-decoration: none; */
    transition: 0.3s;
    font-weight: bold;
}

input[type=submit]:hover, .botao:hover, button:hover{
    background-color: #45a049;
}

/* TITULO */ 
.titulo{
    margin: 20px;
}



/* RODAPÉ */
.rodape{
    background-color: #252323;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: white;
}

.rodape a{
    color: white;
    text-decoration: underline;
}

.criador{
    margin: 0px 15px 15px 15px;
    display: flex;
    align-items: center;
}

.criador a{
    text-decoration: none;
    padding-left: 10px;
}

.imagem-criador{
    width: 40px;
    border-radius: 50%;
}

.imagem-produto{
    float: right;
    padding: 10px;
    
}

.preco{
    font-size: 40px;
    font-weight: bold;
}

/* PAGINA DAS VENDAS */


@media screen and (min-width: 1830px) {
    .itens{
        width: 1790px;
    }

    .conteudo{
    display: grid;
    justify-content: center;
    }
    
}

.conteudo{
    margin: 0px 20px;
}

.divisor{
    background-color: black;
    height: 1px;
    width: 100%;
    position: relative; 
    top: -15px;
}

.itens{
    display: flex;
    flex-wrap: wrap;
}

.container-produto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;

    height: 460px;
    width: 300px;

    /* box-shadow: 5px 10px 20px #888888;     */
}

.imagem-produto-loja img{
    /* padding: 10px; */
    height: 200px;
    max-width: 100%;
}

.imagem-produto-loja{
    display: flex;
    justify-content: center;
}

.opcoes-loja{
    margin-top: auto;
    
}

.botao-carrinho{
    width: 100%;
}

.subtitulo-itens{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    flex-grow: 1;
}

.pesquisa{
    display: flex;
    width: 20rem;
    margin-left: auto;
    /* float: right; */
}

.lupa{
    opacity: 0.5;
    position: relative; 
    top: 12px;
    padding-right: 5px;
}

/* BOTAO Q ABRE O CARRINHO */
#botao-do-carrinho button{
    background-color: #00b637;
    /* padding: 15px;*/
    margin: 10px;

    width:fit-content;
    border-radius: 50px;
    border: 3px solid #00af34;

    position: fixed;
    bottom: 5px;
    right: 5px;
}

.botao-do-carrinho button:hover{
    background-color: #45a049;
}


/* CARRINHO EM SI*/
.botao2 {
    background-color: #f2f2f2;
    color: black;
    padding: 12px 20px;
    border: none;
    /* border: 2px solid #00af34; */
    border-radius: 4px;
    cursor: pointer;
    /* text-decoration: none; */
    transition: 0.3s;
    font-weight: bold;
}

.botao2:hover{
    background-color: #c8c8c8;
}

#carrinho{
    display: none;

    width: 92%;
    background-color: white;

    border: 2px solid #d6d6d6;
    border-radius: 10px;
    margin: 10px;

    position: fixed;
    float: right;
    bottom: 10px;
    right: 10px;
}

#carrinho p{
    margin: 10px 10px;
}

@media screen and (min-width: 600px) {
    #carrinho{
        width: 40rem;
    }
}

.titulo-carrinho{
    display: flex;
    background-color: #f2f2f2;
    font-size: 20px;
    /* justify-content: center; */
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.titulo-carrinho i{
    /* position: relative;
    top: 9px; */
    padding: 3px 9px;
}

.sair-carrinho{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: black;
}

.sair-carrinho:hover{
    background-color: #c8c8c8;
}

.botoes-carrinho{
    background-color: #f2f2f2;
    /* margin-left: auto; */
    padding: 20px;

    display: flex;
    justify-content: flex-end;

    border-radius: 0 0 10px 10px;
}

.botoes-carrinho button{
    margin: 0 5px;
}

.msg-carrinho-vazio{
    text-align: center;
}

.img-carrinho-vazio{
    width: 15rem;
    height: 15rem;
    margin-bottom: 20px;
}

.todos-os-itens{
    border: 1px solid #ccc;
    border-radius: 9px;
    margin: 10px;
}

.cada-item2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* flex-wrap: wrap; */
    margin: 10px;
    height: 4rem;

    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#quantidade-item{
    width: 3rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 9px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
   height: 1.5rem;

}

.titulo-itens{
    display: flex;
    justify-content: space-evenly;
    /* border-bottom: 1px solid #ccc; */
}

.item-individual{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.nome-item{
    width: 3rem;
}

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 96%;
    margin: 5px 10px;
} */



/* td, th {
    border-collapse: collapse;
    border: 1px solid #dddddd;
    border-left: 0;
    border-right: 0;
    text-align: left;
    padding: 5px 0;
    /* width: 100%; */
    /* text-align: center; */
    
/* }  */
  
/* tr:nth-child(even) {
    background-color: #dddddd;
} */

#dados-carrinho{
    display: none;
}

.dados{
    margin: 10px;
}

/* MEMORIAIS */
/* .tituloMemoriais p {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center 
} */

.conteudo {
    text-align: center;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.memoriais {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin: 20px;
    display: inline-block; 
    margin-bottom: 3rem;
    width: 360px;
    height: 400px;
 }

.imagem-memoriais{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.memoriais p {
    font-size: 15px;
 }
/* ADM MEMORIAIS*/
.botao-exibicao{
    
    background-color: #00b637;
    /* padding: 15px;*/
    margin: 10px;

    width:fit-content;
    border-radius: 50px;
    border: 3px solid #00af34;

    position: fixed;
    bottom: 5px;
    right: 5px;
}
.nome-do-cliente{
    margin-right: 100px;
    display: inline-block;
}

.imagem-falecido{
    display: inline-block;
    margin-right: 100px;

    background-size: 100%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


#detalhes p{
    margin: 50px 50px;
}
#titulo-detalhes p{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;  
    
}
#titulo-detalhes{
    background-color:white;
    align-items: center;
    
    text-align: center;
    size: 50px;
    
}
#primeiro-titulo{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border: 2px solid black;
    
    border-bottom-left-radius: 25px;
    border: 1px solid;
    background-color: #ddd;
    box-shadow: 5px 10px;
}  
#titulo-editar{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border: 2px solid black;
    text-align: center;
    border-bottom-left-radius: 25px;
    border: 1px solid;
    background-color: #ddd;
    box-shadow: 5px 10px;
}   
#edicao-detalhes{
    align-items: center;
    border-color: black;
    border-style: double;
    border-width: 5px;
    background-color: #ddd;
    text-align: center;
}    
   

#tabela-detalhes{
    
    align-items: center;
    border-style: double;
    border-width: 5px;
    background-color: #ddd;
    text-align: center;
    
  
    
}

#buttoms{
    align-items: center;
    
    background-color: #ddd;
    text-align: center;
    justify-content:space-between;
}
#buttoms button{
    border-radius: 12px;
    padding: 14px;
    transition-duration: 0.4s;
}
#buttoms button:hover{
    background-color: #c8c8c8;
}
#nome-do-falecido{
    margin-top: 10px;
    
    
    
    
    text-align: center;
    
    
    
    
}
table{
    align-items: center;
    
    display:inline-table;
    text-align: center;
    width: 75%;

    
}
table th,
table td{
    
    border: 1px solid black;
    border-collapse: collapse;
   
    
}
th,td{
    padding:0.5% 1%;
}
th{
    text-align: center;
    background-color:#00b637 ;
    color:black; 
}
   *{
       font-family:Arial,Helvetica,sans-serif;
       
   }
table tr:nth-child(odd){
    background-color: #ddd;
}
table tr:nth-child(even){
    background-color:white;
}
td{
    text-align: center;
}

.justify{
     display:flex;
     justify-content:space-between;
     
     background-color: #ddd;
     /*content"width=device-width;*/
     margin: 10px;
     padding: 10px;
     border-radius: 20px;
  
}

.imagem-falecido-adm{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/*MEMORIAL INDIVIDUAL*/
/* .pre-container-memorial{

} */

.container-memorial{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

@media screen and (min-width: 1050px) {
    .container-memorial{
        width: 970px;
    }

    .pre-container-memorial{
        display: grid;
        justify-content: center;
    }
    
}

.center-memorial{
    display: flex;
    justify-content: center;

    padding-right: 5px;
}

.imagem-memorial img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    border-radius: 50%;
    
}

.nascimento, .falecimento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-memorial{
    /* position: relative;
    top: 1.4rem; */

    padding-right: 5px;
} 

.textos-memorial{
    word-break: break-word;
}

.video-memorial{
    display: flex;
    justify-content: center;
}

.video-memorial iframe{
    width: 700px; 
    height: 400px;
}

/* FORMULARIO MEMORIAL */
.data{
    width: 10.5rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    /*resize: vertical;*/
}

.input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* label{
    display: flex;
} */

.alerta{
    color: red;
    margin-left: 5px;
    font-size: 20px;
    /* position: absolute; */
}

.alerta-campo-vazio{
    background-color: #ff4343;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    border-radius: 20px;
}

/* PACOTES */
@media screen and (max-width: 780px) {
    .imagem-produto{
        float: none;
        width: 80%;
        padding-bottom: 15px;
    }

    .dados-pacote{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;  
    }
    
    .mais-pacote{
        display: block;
        display: flex;
        justify-content: center;  
    }
}

/* ADM */


@media screen and (min-width: 450px) {
    .container-login{
        width: 430px;
    }

    .pre-container{
        display: grid;
        justify-content: center;
    }   
}

.botoes-adm{
    text-align: center;
}

.botoes-adm button{
    width: 90%;
    margin: 10px;
}

.botoes-adm-pedidos{
    display: flex;
    justify-content: flex-end;

}

.botoes-adm-pedidos button{
    width: 10rem;
    margin: 5px;
}

.item-individual-adm{
    display: block;
}

.justify-adm-pedidos{
    display: flex;
    justify-content: space-between;
}