*{
    margin:  0;
    padding: 0;   
}

fieldset {
    border: 0;
}

#itens {
    background: white;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: flex-start;
}

#itens p {
    color: black;
}

.form {
    width: 100%;
    max-width: 25rem;
    font-size: 1.125rem;    
}

.form label, input, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

fieldset.grupo .campo {
    float: left; 
    margin-right: 1em;
}

.campo label{
    margin-bottom: 0.2rem;
    display: block; 
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="number"] {
    padding: 0.2em;
    border: 1px solid;
    display: block;
}

.botao {
    font-size: medium;
    background: #febe01;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    align-items: center;
    top: 90%;
    left: 50%;
    margin-right: 0%;    
}

.botao:hover {
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

.caixa {
    background-color: white;
    width: auto;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid black;
}

.caixa p {
    text-align: center;
    color: black;
}

.imagem {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}