* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

/* PARA BARRA DE NAVEGAÇÃO */
.menu-principal{
    width: 100.0%;
    background-color: #252323;
    height: 60px;
}

.logo{
    float: left;
    padding: -16px;
    width: 70%;
}

.logo-do-site{
    width: 200px;
    margin-left: 0px;
}
/*-------------------------*/

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

span {
    color: #00b637;
}

/* FAZER COM Q O "container" NAO SE EXPANDA HORIZONTALMENTE ACIMA DE 1050px */
@media screen and (min-width: 1050px) {
    .container{
        width: 970px;
    }

    .pre-container{
        display: grid;
        justify-content: center;
    }
    
}

input[type=text], input[type=tel], select, textarea, input[type=url] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit], button, .botao {
    background-color: #00b637;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* text-decoration: none; */
    transition: 0.3s;
    font-weight: bold;
}

input[type=submit]:hover, .botao:hover, button:hover{
    background-color: #45a049;
}

/* TITULO */ 
.titulo{
    margin: 20px;
}



/* RODAPÉ */
.rodape{
    background-color: #252323;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: white;
}

.rodape a{
    color: white;
    text-decoration: underline;
}

.criador{
    margin: 0px 15px 15px 15px;
    display: flex;
    align-items: center;
}

.criador a{
    text-decoration: none;
    padding-left: 10px;
}

.imagem-criador{
    width: 40px;
    border-radius: 50%;
}

.imagem-produto{
    float: right;
    padding: 10px;
    
}

.preco{
    font-size: 40px;
    font-weight: bold;
}

/* PAGINA DAS VENDAS */


@media screen and (min-width: 1830px) {
    .itens{
        width: 1790px;
    }

    .conteudo{
    display: grid;
    justify-content: center;
    }
    
}

.conteudo{
    margin: 0px 20px;
}

.divisor{
    background-color: black;
    height: 1px;
    position: relative; 
    top: -15px;
}

.itens{
    display: flex;
    flex-wrap: wrap;
}

.container-produto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;

    height: 460px;
    width: 300px;

    /* box-shadow: 5px 10px 20px #888888;     */
}

.imagem-produto-loja img{
    /* padding: 10px; */
    height: 200px;
    max-width: 100%;
}

.imagem-produto-loja{
    display: flex;
    justify-content: center;
}

.opcoes-loja{
    margin-top: auto;
    
}

.botao-carrinho{
    width: 100%;
}