  .items {
     background-color: rgba(255, 255, 255, 0.849);
     color: black;
     width: 80%; 
     margin: auto;
     padding: 20px;
     text-align: center;
     margin-bottom: 2rem;
     margin-top: 2rem;
     
  }

.box {
     background-color: white;
     width: auto;
     display: inline-block;
     margin-top: 1rem;
     margin-left: 1rem;
     margin-right: 1rem;
     border: 3px solid black;     
  }

.box p {
     color: black;  
  }

.imagem {
     margin-top: 1rem;
     margin-left: 1rem;
     margin-right: 1rem;
  }

.btn {
     font-size: medium;
     background: #febe01;
     border: 0;
     margin-bottom: 1em;
     color: #ffffff;
     padding: 0.2em 0.6em;
     box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
     text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
     align-items: center;
     top: 90%;
     left: 50%;
     margin-right: 0%;    
}

.btn:hover {
     box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
     text-shadow: none;
}