* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

/* PARA BARRA DE NAVEGAÇÃO */
.menu-principal{
    width: 100.0%;
    background-color: #252323;
    height: 60px;
}

.logo{
    float: left;
    padding: -16px;
    width: 70%;
}

.logo-do-site{
    width: 200px;
    margin-left: 0px;
}
/*-------------------------*/

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

span {
    color: #00b637;
}

/* FAZER COM Q O "container" NAO SE EXPANDA HORIZONTALMENTE ACIMA DE 1050px */
@media screen and (min-width: 1050px) {
    .container{
        width: 970px;
    }

    .pre-container{
        display: grid;
        justify-content: center;
    }
    
}

input[type=text], input[type=tel], select, textarea, input[type=url] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit], button, .botao {
    background-color: #00b637;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* text-decoration: none; */
    transition: 0.3s;
    font-weight: bold;
}

input[type=submit]:hover, .botao:hover, button:hover{
    background-color: #45a049;
}

/* TITULO */ 
.titulo{
    margin: 20px;
}



/* RODAPÉ */
.rodape{
    background-color: #252323;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: white;
}

.rodape a{
    color: white;
    text-decoration: underline;
}

.criador{
    margin: 0px 15px 15px 15px;
    display: flex;
    align-items: center;
}

.criador a{
    text-decoration: none;
    padding-left: 10px;
}

.imagem-criador{
    width: 40px;
    border-radius: 50%;
}

.imagem-produto{
    float: right;
    padding: 10px;
    
}

.preco{
    font-size: 40px;
    font-weight: bold;
}

/* PAGINA DAS VENDAS */


@media screen and (min-width: 1830px) {
    .itens{
        width: 1790px;
    }

    .conteudo{
    display: grid;
    justify-content: center;
    }
    
}

.conteudo{
    margin: 0px 20px;
}

.divisor{
    background-color: black;
    height: 1px;
    position: relative; 
    top: -15px;
}

.itens{
    display: flex;
    flex-wrap: wrap;
}

.container-produto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;

    height: 460px;
    width: 300px;

    /* box-shadow: 5px 10px 20px #888888;     */
}

.imagem-produto-loja img{
    /* padding: 10px; */
    height: 200px;
    max-width: 100%;
}

.imagem-produto-loja{
    display: flex;
    justify-content: center;
}

.opcoes-loja{
    margin-top: auto;
    
}

.botao-carrinho{
    width: 100%;
}

.subtitulo-itens{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.pesquisa{
    display: flex;
    width: 20rem;
    margin-left: auto;
    /* float: right; */
}

.lupa{
    opacity: 0.5;
    position: relative; 
    top: 12px;
    padding-right: 5px;
}

/* BOTAO Q ABRE O CARRINHO */
#botao-do-carrinho button{
    background-color: #00b637;
    /* padding: 15px;*/
    margin: 10px;

    width:fit-content;
    border-radius: 50px;
    border: 3px solid #00af34;

    position: fixed;
    bottom: 5px;
    right: 5px;
}

.botao-do-carrinho button:hover{
    background-color: #45a049;
}


/* CARRINHO EM SI*/
.botao2 {
    background-color: #f2f2f2;
    color: black;
    padding: 12px 20px;
    border: none;
    /* border: 2px solid #00af34; */
    border-radius: 4px;
    cursor: pointer;
    /* text-decoration: none; */
    transition: 0.3s;
    font-weight: bold;
}

.botao2:hover{
    background-color: #c8c8c8;
}

#carrinho{
    display: none;

    width: 92%;
    background-color: white;

    border: 2px solid #d6d6d6;
    border-radius: 10px;
    margin: 10px;

    position: fixed;
    float: right;
    bottom: 10px;
    right: 10px;
}

#carrinho p{
    margin: 10px 10px;
}

@media screen and (min-width: 600px) {
    #carrinho{
        width: 35rem;
    }
}

.titulo-carrinho{
    display: flex;
    background-color: #f2f2f2;
    font-size: 20px;
    /* justify-content: center; */
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.titulo-carrinho i{
    /* position: relative;
    top: 9px; */
    padding: 3px 9px;
}

.sair-carrinho{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: black;
}

.sair-carrinho:hover{
    background-color: #c8c8c8;
}

.botoes-carrinho{
    background-color: #f2f2f2;
    /* margin-left: auto; */
    padding: 20px;

    display: flex;
    justify-content: flex-end;

    border-radius: 0 0 10px 10px;
}

.botoes-carrinho button{
    margin: 0 5px;
}

.msg-carrinho-vazio{
    text-align: center;
}

.img-carrinho-vazio{
    width: 15rem;
    height: 15rem;
    margin-bottom: 20px;
}

#dados-carrinho{
    display: none;
}

.dados{
    margin: 10px;
}

/* MEMORIAIS */
.tituloMemoriais p {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center 
}

.conteudo {
    text-align: center;
}

.memoriais {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    width: auto; 
    margin-bottom: 3rem;
 }

.memoriais p {
    font-size: 15px;
 }
/* ADM MEMORIAIS*/
.nome-do-cliente{
    margin-right: 100px;
    display: inline-block;
}

.imagem-falecido{
    display: inline-block;
    margin-right: 100px;

    background-size: 100%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#detalhes{
    display: none;

    width: 95%;
    background-color: white;

    border: 2px solid #d6d6d6;
    border-radius: 10px;
    margin: 10px;

    position: fixed;
    float:center;
    bottom: 10px;
    right: 10px;
}

#detalhes p{
    margin: 50px 50px;
}
.titulo-detalhes{
    display: flex;
    background-color: #f2f2f2;
    font-size: 20px;
    /* justify-content: center; */
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.sair-detalhes{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: black;
}
.sair-detalhes:hover{
    background-color: #c8c8c8;
}
.nome-do-falecido{
    margin-right: 100px;
    
}
table{
    width: 100%;
    border-collapse: collapse;
}
table th,
table td{
    
    border: 1px solid black;
    
    font-size: 14px;
    padding: 10px 15px;
    
}
#listaMemoriais{ display: none;margin-top: 17rem; }
