<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="style_principal_full.css">
    <link rel="icon" type="image/x-icon" href="favicon-logo.png">
    <script src="https://kit.fontawesome.com/ad2e5c8bb4.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--BARRA DE NAVEGAÇÃO-->
        <header class="menu-principal">
                <div class="header-1">
                    <!--coloque a logo aqui-->
                    <div class="logo">
                        
                        <img class="logo-do-site" src="logo.png" alt="logo"/>
                        <!--<p>Logo aparecerá aqui</p>-->
                    </div>
                </div>
        
        </header>
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{else}}    

    {{/if}}
    {{{body}}}

    <footer class="rodape">
            <h5>© 2022 - <a href="https://github.com/les-prp-uespi/engsw-tp-grupo-e">Funetech</a>, Todos os direitos reservados.</h5>
      
            <div class="criadores">
            <br>
            <h5>Criadores: </h5>
      
              <div class="criador">
                <a href="https://github.com/Allitty"> <img class="imagem-criador" src="alit.jpg" alt="alit"> </a>
                <a href="https://github.com/Allitty">Alit Yure</a>
              </div>
      
              <div class="criador">
                <a href="https://github.com/arthur360cgf"> <img class="imagem-criador" src="arthur.jpg" alt="alit"> </a>
                <a href="https://github.com/arthur360cgf">Arthur Mattei</a>
              </div>
              
              <div class="criador">
                <a href="https://github.com/RodrigoUchoa001"> <img class="imagem-criador" src="rodrigo.jpg" alt="alit"> </a>
                <a href="https://github.com/RodrigoUchoa001">Rodrigo Uchôa</a>
              </div>
      
              <div class="criador">
                <a href="https://github.com/wallyson134"> <img class="imagem-criador" src="wollyson.jpg" alt="alit"> </a>
                <a href="https://github.com/wallyson134">Wallyson Silva</a>
              </div>
            </div>
        </footer>
</body>
</html>